body {
  font-family: 'Sniglet', cursive;
  font-size:24px;
  background-color:#D90808;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.app{
  display:flex ;
  justify-content:center;
  color:white;
  border:1px solid #fff;
  padding:20px;
} 
a {
  text-decoration:none;
  color:#D90808;
}
button {
  background-color:#FFFFFF;
  color: #D90808;
  padding:10px 20px;
}

#contain-btn {
  width:100%;
  display:flex;
  justify-content:center;
}
